:root {
    --border-color: rgba(181, 181, 181, 0.532);
    --font-color: #333333;
    --primary-color: 34,45,50;
    --main-color: 60,141,188;

}

*{
    box-sizing: border-box;
}

.login-block{
    display: flex;
}

.login-container{
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 350px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    // justify-content: space-between;
    .login-title {
        background-color: rgba(247,247,247,1);
        height: 40px;
        border-bottom: 1px solid var(--border-color);
        font-weight: bold;
        display: flex;
        align-items: center;
        user-select: none;
        span {
            margin-left: 50px;
            color: var(--font-color);
        }
    }
    .login-inner{
        user-select: none;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        width: 700px;
        .login-form{
            border-bottom: 1px solid var(--border-color);
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .form__inner {
                margin: auto;
                width: 70%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: end;
                .form__item_input {
                    display: flex;
                    flex-direction: column;
                    // justify-content: end;
                    // justify-content: end;
                    align-items: end;
                    .form__item-input {
                        width: 330px;
                        height: 35px;
                        border: 1px solid var(--border-color);
                        margin-left: 15px;
                    }

                    .form__item-password {
                        width: 330px;
                        height: 35px;
                        margin-left: 15px;
                        position: relative;
                        z-index: 1;
                    }
                    
                    .form__item-inpur-eye {
                        position: absolute;
                        height: 35px;
                        margin: 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-self: flex-end;
                        color: rgba(var(--primary-color), 0.5);
                        cursor: pointer;
                        z-index: 2;
                    }

                    .form__item-input-password-eyesicon:hover {
                        color: rgba(var(--primary-color), 1);
                    }

                    .form__item-input:focus {
                        width: 330px   ;
                        height: 35px;
                        outline: 1px solid rgba(var(--main-color), 1);
                    }
                    .form__item-title {
                        font-weight: 500;
                    }
    
                    .form__item-warning {
                        font-size: 0.7rem;
                        // line-height: 0.7rem;
                        height: 0.5rem;
                        color: red;
                    }

                    .form__warning {
                        outline: 1px solid red;
                    }
                    .form__warning:focus {
                        outline: 1px solid red;
                    }
                    .for__item-main {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .input_password {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                    }
                }

            
            .form__item {
                display: flex;
                flex-direction: row;
            }
            .form__checkbox {
                align-self: center;
                input {
                    margin: 0 10px;
                }
            }

            .form__btn {
                font-size: 0.9rem;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                // .form__item-forget {
                //     width: 120px;
                // }

                div {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }

                .form__item-btn {
                    width: 100px;
                    height: 35px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .btn-icon{
                        margin-right: 5px;
                    }
                }

                .btn-login {
                    background-color: #008E4C;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                    user-select: none;
                }

                .btn-login:hover {
                    background-color: #00773f;
                    color: white;
                    border-radius: 3px;
                }

                .btn-title-register {
                    text-decoration: none;
                    color: black;
                }

                .btn-register:hover {
                    background-color: rgba(var(--main-color), 1);
                    color: white;
                    border-radius: 3px;
                    .btn-title-register {
                        color: white;
                    }
                }

                .form__item-btn:hover {
                    border: 1px solid var(--border-color);
                    border-radius: 3px;
                }
                
            }

            .form__link-item {
                text-decoration: none;
                cursor: pointer;
                color: rgba(var(--main-color), 1);
            }

            .form__link-item:hover {
                color: rgba(var(--primary-color), 1);
            }
                
            }
        }
    }
    .login-social {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 90px;
        align-items: center;
        // cursor: pointer;
        user-select: none;
        .social_item {
            color: white;
            height: 35px;
            width: 175px;
            background-color: #00d672;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid black;
            border-radius: 5px;
            
            .social_item-icon {
                width: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid black;
            }
            .social_item-name {
                margin-left: 10px;
            }
            
            
        }
        .social-facebook {
            background-color: #2D4373;
        }
        .social-google {
            background-color: #C23321;
        }
        .social-google:hover, .social-facebook:hover {      
            opacity: 0.7;
            cursor: pointer;
        }
    }
}